body {
	background: #999;
	font-family: arial;
	text-align: center;
}

head {
	text-align: center;
	text-decoration-style: courier;
	color: #111;
}

h1 {
	margin: 14px;
	font-family: Courier;
}

div {
	font-family: Courier;
}

p {
	margin: 14px auto;
	border-radius: 14px;
	text-align: center;
	padding: 10px;
	width: 66%;
	background: #666;
	color: white;
	font-family: Courier;
}

a {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-family: Courier;
}

#canvasId {
	border-width: 4px;
	border-style: solid;
	border-radius: 21%;
	margin: auto;
	border-color: black;
	width: 95%;
	height: 95%;
}

#toRightSideButton {
	background: #333;
	color: white;
	padding: 7px;
	border-radius: 10px;
}

#toIsometricButton {
	background: #333;
	color: white;
	padding: 7px;
	border-radius: 10px;
}

#toFrontButton {
	background: #333;
	color: white;
	padding: 7px;
	border-radius: 10px;
}

#toInsideButton {
	background: #333;
	color: white;
	padding: 7px;
	border-radius: 10px;
}

#showExplodedAssemblyButton {
	background: #333;
	color: white;
	padding: 7px;
	border-radius: 10px;
}

#showDimensionsButton {
	background: #333;
	color: white;
	padding: 7px;
	border-radius: 10px;
}

#firstRowButtons {
	border-radius: 14%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 44%;
	background: #666;
}

#secondRowButtons {
	border-radius: 14%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 44%;
	background: #666;
}

 /*   //////////////////////////////////////////// ((( MEDIA QUERIES ))) \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\      */
/*   ////////////////////////////////////////////                        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\     */

@media screen and (max-width: 960px) {

	p {
		width: 88%;
	}

	a {
		font-size: 14px;
	}

}

@media screen and (max-width: 720px) {

	a {
		font-size: 10px;
		margin: 3px auto;
	}

	p {
		font-size: 9px;
		margin: 2px auto;
	}

	#canvasContainer {
		height: 250px;
		width: 95%;
	}

	#canvasId {
		border-radius: 3px;
		margin-top: 4px;
	}

	#firstRowButtons {
		display: inline-block;
		width: 33%;
	}

	#secondRowButtons {
		display: inline-block;
		width: 33%;
	}

}